.grid {
    border: red 1px solid;
}
.card {
    height: 500px;
    border: red 1px solid;
    display: block;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* Rendi il contenitore posizionabile */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card_image {
    width: 100%;
    height: auto;
    display: block;
}

.card_text {
    font-size: 12px;
    color: black;
    background-color: white;
    margin-top: 16px; /* Spazio sopra il testo */
    padding: 5px 10px; /* Aggiunge un po' di spazio interno */
    position: static; /* Posiziona il testo rispetto al genitore */
    /* bottom: 10px; /* Posiziona il testo a 10px dal bordo inferiore */
    /* left: 10px; Posiziona il testo a 10px dal bordo sinistro 
    background-color: rgba(81, 138, 225, 0.9); Sfondo semi-trasparente per un effetto più moderno  */
    border-radius: 4px; /* Arrotonda leggermente gli angoli */
    z-index: 1; /* Assicura che il testo sia sopra l'immagine */
}

.card_text h4 {
    font-size: 16px; /* Dimensione del font per il titolo */
    margin: 0; /* Rimuove il margine predefinito */
    font-weight: normal; /* Rende il testo non in grassetto */
}



/* .card {
    display: block;
    border: 1px solid red; 
    width: 100%;
    position: relative;
   
}

.card_text{
    border: 1px solid red; 
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: white;
    padding: 15px;
} */

/* .card_text:hover{
    background-color: rgb(13, 192, 13);
    color: white;
} */