.card{
    border: 1px solid red; 
    display: block;
    width: 100%;
    position: relative;
}

.card_text{
    border: 1px solid red; 
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgb(81, 138, 225);
    padding: 10px 15px;
    font-size: 15px;
}

.card_text:hover{
    background-color: rgb(13, 192, 13);
    color: white;
}