.cover {
    border: 1px solid red; 
    display: flex;
    padding: 30px 10% 30px 10%;    
}

.cover_text {
    width: 40%;
    text-align: justify;
    padding: 0px 80px 0px 0px;
    font-family: Rubik, Noto Sans, Montserrat, Open Sans, Lato;
    font-size: 15px;
    line-height: 1.4;
}

.cover_image {
    width: 60%;  
    padding: 25px 0px 15px 20px;
}

.cover_image img {
    display: block;
    margin: 0 auto;
    /* box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2); Sfumatura ai bordi */
    /* border-radius: 10px; Arrotonda leggermente i bordi (opzionale) */
}



/* @media (max-width: 768px) {
    .cover {
        flex-direction: column; 
        padding: 20px 5% 20px 5%; 
    }

    .cover_text {
        width: 100%; 
        padding: 0px; 
    }

    .cover_image {
        width: 100%; 
        padding: 20px 0px 0px 0px; 
    }
} */