.footer {
    background-color: rgb(151, 149, 149);
    color: white;
    font-family: Rubik, Noto Sans, Montserrat, Open Sans, Lato;
    font-size: 10px;
    padding: 30px 10% 30px 10%;
    display: flex;
    justify-content: space-between;
}

.footer_text {
    padding: 0px 80px 0px 0px;
    flex: 1; 
}

/* .footer_Privacy_Cookies_Policy {
    flex: 0;
    text-decoration: none;
    color: white;
    text-align: bottom;
} */

.footer_social {
    flex: 0;
}

.footer_social img {
    height: 40px;
}

/* .footer_back_to_top {
    text-align: right;
} */