body {
  background-color: white;
  font-family: Noto Sans, Roboto, Rubik, Montserrat, Open Sans, Lato;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.highlight {
  color: rgb(13, 192, 13);
}

/* #root {
  font-family: Montserrat, Roboto, Inter, sans-serif;
  background-color: antiquewhite;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}